.token-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}


.image-token>img {
  max-height: 25px;
  margin-right: 5px;
}

.title-wallet {
  text-transform: capitalize;
}

.display-top-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.space-line {
  height: 45px;
}


.css-7ur1e4 {
  height: 100% !important;
}


.table-wallet {
  display: flex !important;
  flex-direction: column;
  overflow-Y: auto !important;
  height: 40vh !important;
}

.table-wallet>thead>tr>th,
.table-wallet>tbody>tr>td {
  width: 100% !important;
}

.table-wallet>thead>tr,
.table-wallet>tbody>tr {
  display: flex;
  flex-direction: row;

}

.tabMenuWallets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}