.token-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}


.image-token>img {
  max-height: 25px;
  margin-right: 5px;
}

.title-wallet {
  text-transform: capitalize;
}

.display-top-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.space-line {
  height: 45px;
}


.css-7ur1e4 {
  height: 100% !important;
}


.table-wallet {
  display: flex !important;
  flex-direction: column;
  overflow-Y: auto !important;
  height: 40vh !important;
}

.table-wallet>thead>tr>th,
.table-wallet>tbody>tr>td {
  width: 100% !important;
}

.table-wallet>thead>tr,
.table-wallet>tbody>tr {
  display: flex;
  flex-direction: row;

}

.tabMenuWallets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.display-grid-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/*  Loader spinner Btn */

#container-spinner> {
  position: relative !important;
  top: 140px !important;
  left: 50px !important;
  transform-origin: center;

}

.update-btn {
  position: absolute !important;
  right: 40% !important;
  top: 60%;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  /* transform-origin: center; */
  /* height: 50px;
  width: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center;
  margin-top: 50%;
  margin-bottom: 50%; */
}

.update-btn.hide {
  display: none;
}


@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.table-wallet.hide {
  display: none
}